* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    font: {
        family: Tahoma, Verdana, sans-serif;
        size: 18px;
    }
    color: #555;
    text-align: center;
}