.overlay {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 90%;
    background-color: rgb(255, 255, 255);
    position: relative;
    @media screen and (min-width: 768px) {
        width: auto;
    }
    
    img {
        width: 100%;

        @media screen and (min-width: 768px) {
            width: auto;
            height: 80vh;
        }
    }
    h2 {
        font-size: 0.8em;
        padding: 15px;
    }
    
}